@using NoodleMVC = InstantNoodles.MVC.Models.NoodleModel;

@model List<NoodleMVC>;

<h1>Noodles List</h1>

<ul>
@foreach (NoodleMVC noodle in @Model)
{
    <li>Name : @noodle.Name</li>
    <li>Meat : @noodle.Meat</li>
    <li>Vegetable : @noodle.Vegetable</li>
    <li>With sauce : @noodle.Sauce</li>
}
</ul>