@model List<DifferentNoodleModel>;

<h1>Noodles List</h1>


    @foreach (DifferentNoodleModel noodle in @Model)
{
    <ul>
    <li>Name : @noodle.Nom</li>
    <li>Meat : @noodle.Viande</li>
    <li>Vegetable : @noodle.Legume</li>
    <li>With sauce : @noodle.Sauce</li>
    </ul>
}
