@model List<DifferentNoodleModel>;

<h1>Noodles List</h1>


@foreach (DifferentNoodleModel noodle in @Model)
{
    <ul>
        <li>Nom : @noodle.Nom</li>
        <li>Viande : @noodle.Viande</li>
        <a asp-action="Details" asp-route-id="@noodle.IdNouille">Details</a>
    </ul>
}
