@model List<DifferentNoodleModel>;

<h1>Noodles List</h1>

<ul>
    @foreach (DifferentNoodleModel noodle in @Model)
{
    <li>Name : @noodle.Nom</li>
    <li>Meat : @noodle.Viande</li>
    <li>Vegetable : @noodle.Legume</li>
    <li>With sauce : @noodle.Sauce</li>
}
</ul>